body {
  background: #f2f2f2;
  line-height: 1;
  padding-bottom: 1.5307rem !important;
}

section {
  background: #fff;
}

.m-swiper img {
  width: 100%;
}
/* 搜索框 */
.m-search_bar {
  position: relative;
  display: flex;
  margin-bottom: 0.2rem;
  padding: 0.33rem 0.44rem;
  height: 1.42rem;
  background: #fff;
}

.m-search_bar .position {
  position: relative;
  padding-left: 0.76rem;
  margin-right: 0.3rem;
  width: 1.65rem;
  height: 0.76rem;
}

.m-search_bar .position .icon {
  position: absolute;
  left: 0;
  width: 0.56rem;
  height: 0.76rem;
  background-image: url(./assets/images/position.png);
  background-size: contain;
}

.m-search_bar .position p:nth-of-type(1) {
  font-size: 0.32rem;
  color: #333;
  margin-bottom: 0.04rem;
}

.m-search_bar .position p:nth-of-type(2) {
  font-size: 0.24rem;
  color: #a5a4a4;
}

.m-search_bar .search_icon {
  position: absolute;
  top: 0.5467rem;
  left: 2.5067rem;
  width: 0.3333rem;
  height: 0.3333rem;
  display: inline-block;
  background-image: url(assets/images/search.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.m-search_bar input[type="search"] {
  flex-grow: 1;
  padding: 0.23rem 1.1rem;
  height: 0.76rem;
  outline: none;
  border: none;
  border-radius: 0.125rem;
  background: #eaebed;
  font-size: 0.34rem;
  color: #a5a4a4;
}

.m-recommend,
.m-experience {
  margin-bottom: 0.2rem;
  padding: 0.28rem 0.44rem;
}

.m-recommend .triangle,
.m-experience .triangle,
.m-willing .triangle {
  position: absolute;
  bottom: -0.01rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.1rem 0.1067rem 0.1rem;
  border-color: transparent transparent #be201f transparent;
}

.m-recommend h1,
.m-experience h1 {
  display: flex;
  height: 0.75rem;
  justify-content: space-between;
  border-bottom: solid 0.026rem;
  color: #be201f;
  font-size: 0.4286rem;
}
.m-recommend button,
.m-experience button {
  position: absolute;
  right: 0.28rem;
  bottom: 0;
  width: 2rem;
  height: 0.6667rem;
  border: none;
  border-radius: 0.08rem;
  background-color: #be201f;
  color: #fff;
  font-size: 0.3457rem;
}
.m-recommend h1 span,
.m-experience h1 span,
.m-willing h2 span {
  position: relative;
  border-bottom: solid #be201f 0.0533rem;
}

.m-recommend h1 a,
.m-experience h1 a {
  font-size: 0.3467rem;
}

/* 推荐 */
.m-recommend .detail {
  position: relative;
  margin-top: 0.1867rem;
  padding: 0 0.3067rem 0 4.5466rem;
  height: 4.08rem;
}

.m-recommend .preview {
  position: absolute;
  left: 0;
  width: 4.2933rem;
  height: 4.08rem;
}

.m-recommend .preview img {
  width: 4.2933rem;
  height: 4.08rem;
}

.m-recommend h2,
.m-experience h2 {
  margin-bottom: 0.24rem;
  font-size: 0.3467rem;
  color: #333;
  line-height: 0.5333rem;
}

.m-recommend .price,
.m-experience .price {
  margin-bottom: 0.1467rem;
  font-size: 0.4rem;
  color: #be201f;
}

.m-recommend .origin {
  font-size: 0.32rem;
  color: #666;
  text-decoration: line-through;
}

.m-recommend .status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1467rem;
  font-size: 0.2667rem;
  color: #666;
}

.m-recommend .bar {
  height: 0.16rem;
  background-image: url(assets/images/bar.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* 体验 */
.m-experience {
  position: relative;
}

.m-experience .preview {
  margin-top: 0.1867rem;
  height: 0;
  padding-bottom: 47.07%;
}

.m-experience .preview img {
  width: 100%;
}

.m-experience .origin {
  font-size: 0.32rem;
  color: #666;
  text-decoration: line-through;
}

.m-experience .sold {
  font-size: 0.2667rem;
  color: #666;
}

.m-experience button {
  position: absolute;
  bottom: 0.33rem;
  right: 0.72rem;
}

/* 期待产品 */
.m-willing {
  padding: 0 0.4533rem 0.412rem;
  margin-bottom: 0.3627rem;
  text-align: center;
}

.m-willing h1 {
  padding: 0.48rem;
  font-size: 0.4rem;
  text-align: center;
}

.m-willing h2 {
  border-bottom: solid #bc5a59 0.0267rem;
  height: 0.3567rem;
  font-size: 0.2133rem;
  color: #be201f;
  text-align: left;
}

.m-willing h2 span {
  display: inline-block;
  padding-bottom: 0.12rem;
  height: 0.3567rem;
}

.m-willing .products {
  padding: 0.2rem 0 0 0;
  text-align: left;
}

.m-willing .product {
  position: relative;
  padding-left: 2.0933rem;
  padding-right: 2.7467rem;
  margin-bottom: 0.2rem;
  height: 1.6933rem;
}

.m-willing .preview,
.m-willing .preview img {
  height: 1.6933rem;
  width: 1.6933rem;
}

.m-willing .preview {
  position: absolute;
  left: 0;
}

.m-willing h3 {
  margin-bottom: 0.1067rem;
  font-size: 0.2133rem;
  color: #333;
}

.m-willing .introduction {
  font-size: 0.16rem;
  color: #a5a4a4;
}

.m-willing .product {
  position: relative;
}

.m-willing .checkbox {
  display: none;
}

.m-willing .checkbox + label {
  position: absolute;
  right: 0.28rem;
  top: 0.6133rem;
  background-color: #fcfcfc;
  border-radius: 0.0711rem;
  width: 0.4267rem;
  height: 0.4267rem;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 0.067rem;
  box-shadow: 0.01rem 0rem 0.02rem rgba(0, 0, 0, 0.15);
}

.m-willing .checkbox:checked + label {
  background-color: #fcfcfc;
}

.m-willing .checkbox:checked + label:after {
  font-size: 0.4267rem;
  content: "\2714";
  color: #be201f;
}

.m-willing .submit {
  position: relative;
  margin: 0.4267rem 0 0.412rem 0;
  border-radius: 0.1907rem;
  width: 2.1613rem;
  height: 0.4947rem;
  background-color: #be201f;
  color: #fff;
  font-size: 0.332rem;
  border: none;
}

.m-willing .submit .triangle {
  position: absolute;
  top: 0.158rem;
  left: 0.3667rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.09515rem 0 0.09515rem 0.1627rem;
  border-color: transparent transparent transparent #fff;
}
/* 导航栏 */
.m-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  height: 1.5307rem;
  width: 100%;
  background-color: #fff;
  border-top: solid #d0d0d0 0.016rem;
}

.m-nav .navbar_item {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}

.m-nav .navbar_icon {
  margin-top: 0.21rem;
  display: inline-block;
  width: 0.68rem;
  height: 0.68rem;
}

.m-nav .navbar_label {
  margin-top: 0.12rem;
  font-size: 0.3124rem;
  color: #999;
}

.m-nav .cart .navbar_label {
  color: #fff;
}

.m-nav .circle {
  position: relative;
  left: 50%;
  bottom: 0.2rem;
  transform: translate(-50%);
  background-color: #be201f;
  border-radius: 50%;
  width: 1.5067rem;
  height: 1.5067rem;
  z-index: 3;
}

.m-nav .cart::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.4rem;
  background-color: #fff;
  border-radius: 50%;
  border: solid 0.016rem #d0d0d0;
  width: 1.9067rem;
  height: 1.9067rem;
  z-index: 1;
}

.m-nav .cart::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #fff;
  width: 1.9307rem;
  height: 1.5307rem;
  z-index: 1;
}
